html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0E9E1;
  padding: 0 1.5rem;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

h2 {
  margin-bottom: 0;
  padding: 0;
  font-size: 2rem;
}

p data {
  padding: 0;
  font-size: 1.5rem;
}

.details {
  margin: 1.5rem;
  padding: 0;
}

.button {
  border-radius: 0;
  background-color: #224229;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
}

.button:hover {
  background-color: #F0E9E1;
  color: #000;
}

h4 {
  font-size: 1.25rem;
  padding: 0;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.product img:nth-child(3) {
  grid-column: 1 / span 2;
}

.description {
  margin: 1.5rem;
}

dl dt {
  font-weight: bold;
}

.quotes {
  color: #fff;
  background-color: #224229;
  padding: 1.5rem;
}

.quotes cite {
  padding: 4rem;
}

.browsed-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  margin: 1.5rem;
}

.browsed-images p {
  margin: 0;
  padding: 0;
}

.browsed h3 {
  margin: 1.5rem;
}

footer {
  padding: 1.5rem;
  text-align: center;
  color: #000;
  background-color: #F0E9E1;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */
@media only screen and (min-width: 375px) {

}



/* Add media query for desktop */
@media only screen and (min-width: 768px) {

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.money-tree {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.money-tree img {
  margin-bottom: 1.5rem;
}

h2 {
  margin-top: 1.5rem;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.product img:nth-child(3) {
  grid-column: 3;
}

.browsed-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

}
